footer {
    display: flex;
    flex-direction: column;   
}
.footer{
    height: auto;
}
.images-container {
    /* border: #201a17 2px solid; */
    display: flex;  /* Permet de mettre les images sur la même ligne (inline-block) */
    margin-top: 50px;
    background-color: white;
    height: 200px;
}
.images-container-cloudy {
    /* border: greenyellow 2px solid; */
    width: 15%;
    height: 100%;
    margin-left: 10%;
}
.images-container-text-global {
    /* border: red 2px solid; */
    font-weight: 500;
    font-size: 180%;
    margin-left: 4%;
    width: 18%;
}
.images-container-title {
    /* border: blue 2px solid; */
    font-size: 120%;
    margin-bottom: 2%;
}
#everyday,
#foods {
    line-height: 35px;
    font-weight: 800;
    color: #fff;
    transform: rotate(2.5deg);
    background-color: #0064c8;
    border-inline: 5px solid #0064c8;
    border-radius: 5px;
    text-transform: uppercase;
    display: inline-block;
}

#foods {
    margin-left: 30%;
    transform: rotate(-3deg);
    background-color: #ff8714;
    border-inline: 5px solid #ff8714
}
.images-container-pictures {
    /* border: violet 2px solid; */
    width: 60%;
}
.images-container2,.images-container3,
.images-container4,.images-container5 {
    margin-top: 4%;
    margin-right: 4%;
}
.images-container1 {
    height: 85%;
}
.images-container2 {
    height: 30%;
    margin-left: 5%;
}
.images-container3 {
    height: 35%;
}
.images-container4 {
    height: 30%;
}
.images-container5 {
    height: 35%;
}
.donation-container {
    background-color:#6d85d9;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    /* margin-left: -5%; */
    /* margin-right: auto; */
    padding: 0;
    list-style:none;
    font-size:110%;
    color: white;
}
.donation-banner-footer__image {
        /* border: #201a17 2px solid; */
    display: block;
    content: "";
    width: 50%;
    height: 230px;
}
.donation-button {
    background-color: white;
    border-radius: 20%;
    width: 97%;
    height: 70px;
    margin-left: 1%;
    margin-right: 6%;
    font-size: larger;
    appearance: button;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}
.donation-picture {
    width: 40%;
    height: 80%;
    border-radius: 70%;
}
.donation-paragraph {
    width: 65%;
    margin-left: 1%;
}
.thank {
    font-weight:600 ;
}
.heart {
    color: red;
}
.section-community-container {
    display: flex;
    justify-content: center;
    background-color:#ede0db;
}
.community-container {
    /* border: #201a17 2px solid; */
    width: 30%;
    justify-content: space-between;
    align-items: left;
    font-size: 110%;
    margin-left: 5%;
}
.href-community {
    color: black;
}
.footer_social_icon {
    width: 4.5%;
    height: 4.5%;
}
.discover-project-container {
    /* border: #201a17 2px solid; */
    width:40%;
    justify-content: space-between;
    align-items: left;
    margin-left: 5%;
    /* cursor: pointer; */
}
.button-discover-project-container1,.button-discover-project-container2,
.button-discover-project-container3,.button-discover-project-container4,
.button-discover-project-container5,.button-discover-project-container6,
.button-discover-project-container7,.button-discover-project-container8,
.button-discover-project-container9 {
    height: 15%;
    border-radius: 10%;
    background-color: white;
    margin-right: 12px; /* Ajoute un espacement entre les images */
    margin-top: 10px;
    font-size: 100%;
    cursor: pointer;
    /* overflow: hidden; */
    /* fill: currentColor; */
}
.button-discover-project-container1:hover {
    background-color:#5c1401ea;
    width: 13%;
}
.button-discover-project-container2:hover {
    background-color:#5c1401ea;
    width: 33%;
}
.button-discover-project-container3:hover {
    background-color:#5c1401ea;
    width: 25%;
}
.button-discover-project-container4:hover {
    background-color:#5c1401ea;
    width: 20%;
}
.button-discover-project-container5:hover {
    background-color:#5c1401ea;
    width: 7%;
}
.button-discover-project-container6:hover {
    background-color:#5c1401ea;
    width: 24%;
}
.button-discover-project-container7:hover {
    background-color:#5c1401ea;
    width: 12%;
}
.button-discover-project-container8:hover {
    background-color:#5c1401ea;
    width: 10%;
}
.button-discover-project-container9:hover {
    background-color:#5c1401ea;
    width: 30%;
}
.terms-container {
    background-color: #201a17;
    color: white;
    height: 300px;
    
}
.footer_block_image_banner_outside {
    /* border: greenyellow 2px solid; */
    background: no-repeat top left url(https://static.openfoodfacts.org/images/illustrations/footer-planet.svg);
    background-image: url(https://static.openfoodfacts.org/images/illustrations/footer-planet.svg);
    background-size: 22%;
    background-position-x: left;
    background-position-y: top;
    margin-right: 35%;
    height: 300px;
    width: 50%;
}
.footer_block_image_banner_outside2 {
    /* border: white 2px solid; */
    background: no-repeat bottom right url(	https://static.openfoodfacts.org/images/illustrations/footer-orange.svg);
    background-image: url(https://static.openfoodfacts.org/images/illustrations/footer-orange.svg);
    background-size: 16%;
    background-position-x: right;
    background-position-y: bottom;
    height: 280px;

}
.logo-white-terms-container {
    /* border: red 2px solid; */
    width: 70%;
    margin-left: 65%;
    justify-content: center;
}
.logo-white-terms {
    width: 50%;
    height:70px;
    justify-content: center;
    margin-left: 20%;
    margin-top: 6%;
}
.paraph-terms-container {
    margin-left: 5%;
    font-size: 110%;
    margin-top: 3%;
}
.href-terms-container {
    margin-left: 1%;
    margin-right: 0%;
    color: white;
    font-size: 90%;
    margin-top: 3%;
}
