<footer>
    <div class="footer" id="footer">
        <section class="install-the-app">
            <div class="images-container">
                <div class="images-container-cloudy">
                    <a><img src="https://fr-en.openfoodfacts.org/images/illustrations/app-icon-in-the-clouds.svg" alt="The Open Food Facts logo in the cloud" class="images-container1"></a>
                </div>
                    <div class="images-container-text-global">
                        <div class="images-container-title">
                            INSTALL THE APP!
                        </div> 
                        Scan your <span id="everyday">everyday </span> <br><span id="foods">foods</span>
                    </div>
                    <div class="images-container-pictures">
                        <a href="https://apps.apple.com/app/open-food-facts/id588797948"><img src="https://fr-en.openfoodfacts.org/images/misc/appstore/black/appstore_US.svg" alt="Download on the App Store" loading="lazy" class="images-container2"></a>
                        <a href="https://play.google.com/store/apps/details?id=org.openfoodfacts.scanner&hl=en"><img src="https://static.openfoodfacts.org/images/misc/google-play-badge-svg-master/img/en_get.svg" alt="Get It On Google Play" loading="lazy" class="images-container3"></a>
                        <a href="https://www.microsoft.com/en-us/p/openfoodfacts/9nblggh0dkqr"><img src="https://fr-en.openfoodfacts.org/images/misc/microsoft/English.svg" alt="Get it from Microsoft"  loading="lazy" class="images-container4"></a>
                        <a href="https://world.openfoodfacts.org/files/off.apk"><img src="https://static.openfoodfacts.org/images/misc/android-apk.svg" alt="Android APK" loading="lazy" class="images-container5"></a>
                    </div>
                </div>
        </section>
        <section class="donation-banner-footer">
            <div class="donation-container" id="donation-container">
                <a><img src="https://static.openfoodfacts.org/images/illustrations/donate-heart.svg" alt="donation-banner-footer__image" loading="lazy" class="donation-banner-footer__image"></a>
                <a href="https://world.openfoodfacts.org/donate-to-open-food-facts?utm_source=off&utf_medium=web&utm_campaign=donate-2023&utm_term=en-text-button">
                    <button class="donation-button"> <img src="assets/image/OIP.jpg" alt="donation-picture" class="donation-picture"> Donate</button></a>
                <p class="donation-paragraph">  Open Food Facts is a collaborative project built by tens of thousands of volunteers and managed by a non-profit organization with 8 employees. 
                 We need your donations to fund the Open Food Facts 2023 budget and to continue to develop the project.
                <br><br><span class="thank">Thank you!</span> <span class="heart">❤</span></p> 
                <!-- <button type="input">Donate</button> -->  
            </div>
        </section>
        <section class="section-community-container">
            <div class="community-container">    
                <h1 class="title1">Join the community</h1>
                <p>Discover our <a  href="https://fr-en.openfoodfacts.org/code-of-conduct"class="href-community">Code of conduct</a></p> 
                <p>Join us on <a  href="https://slack.openfoodfacts.org"class="href-community">Slack</a></p>
                <p><a href="https://forum.openfoodfacts.org/" class="href-community">Forum</a></p>
                <p id="footer_social_icons">Follow us: 
                <a href="https://twitter.com/openfoodfacts"><img src="https://fr-en.openfoodfacts.org/images/icons/dist/twitter.svg" class="footer_social_icon" alt="Twitter"></a>
                <a href="https://www.facebook.com/OpenFoodFacts"><img src="https://fr-en.openfoodfacts.org/images/icons/dist/facebook.svg" class="footer_social_icon" alt="Facebook"></a>
                <a href="https://www.instagram.com/open.food.facts/"><img src="https://fr-en.openfoodfacts.org/images/icons/dist/instagram.svg" class="footer_social_icon" alt="Instagram"></a>   
                <p><a class="href-community" href="https://link.openfoodfacts.org/newsletter-en">Subscribe to our newsletter</a></p>
            </div> 
            <div class="discover-project-container">
                <h1 class="title2">Discover the project</h1>
                <a href="https://fr-en.openfoodfacts.org/who-we-are"><button class="button-discover-project-container1">Who we are</button></a>
                <a href="https://world.openfoodfacts.org/open-food-facts-vision-mission-values-and-programs"><button class="button-discover-project-container2" >Vision, Mission, Values and Programs</button></a>
                <a href="https://fr-en.openfoodfacts.org/faq"><button class="button-discover-project-container3">Frequently asked questions</button></a><br>
                <a href="https://blog.openfoodfacts.org/en/"><button class="button-discover-project-container4">Open Food Facts blog</button></a>
                <a href="https://blog.openfoodfacts.org/en/press-release-new-mobile-app"><button class="button-discover-project-container5">Press</button></a>
                <a href="https://wiki.openfoodfacts.org"><button class="button-discover-project-container6">Open Food Facts wiki (en)</button></a>
                <a href="https://fr-en.openfoodfacts.org/cgi/top_translators.pl"><button class="button-discover-project-container7">Translators</button></a>
                <a href="https://fr-en.openfoodfacts.org/partners"><button class="button-discover-project-container8">Partners</button></a><br>
                <a href="https://world-fr.openbeautyfacts.org"><button class="button-discover-project-container9">Open Beauty Facts - Cosmétiques</button></a>
            </div>
        </section>
        <section class="terms-container">
            <div id="footer_block_image_banner_outside2" class="footer_block_image_banner_outside2">
                <div id="footer_block_image_banner_outside" class="footer_block_image_banner_outside">
                        <div class="logo-white-terms-container">
                            <a href="https://fr-en.openfoodfacts.org/"><img src="https://static.openfoodfacts.org/images/logos/off-logo-horizontal-mono-white.svg" alt="openFoodFactsLogoWhite" loading="lazy" id="logo-white-terms" class="logo-white-terms"></a>
                            <p class="paraph-terms-container">A collaborative, free and open database of food products from around the world.</p>
                            <a class="href-terms-container" href="https://fr-en.openfoodfacts.org/legal">Legal</a>
                            <a class="href-terms-container" href="https://fr-en.openfoodfacts.org/terms-of-use">Terms of use</a>
                            <a class="href-terms-container" href="https://fr-en.openfoodfacts.org/data">Data, API and SDKs</a>
                            <a class="href-terms-container" href="https://world.openfoodfacts.org/donate-to-open-food-facts">Donate to Open Food Facts</a>
                            <a class="href-terms-container" href="https://world.pro.openfoodfacts.org/">Producers</a>
                            <a class="href-terms-container" href="https://link.openfoodfacts.org/newsletter-sq">Subscribe to our newsletter</a>
                        </div>
                    </div>
                </div>    
        </section>
    </div>    
</footer>
