<div class="container">
<h1 style="margin: 1rem;" >Santé</h1>

<div class="child_container" (click)="toggleList('div6')">
  <div class="row" style="width:70%">
    <h3>Ingrédients</h3>
      <img src="https://static.openfoodfacts.org/images/icons/dist/ingredients.svg"
         style="height:72px;float:left;margin-right:1rem;" alt="icon" class="filter-grey">
         <p *ngIf="showList['div6']">{{ products.product.ingredients_text }}</p>
  </div>
  <div class="image" style="width:20%">
    <img src="{{products.product.selected_images.ingredients.display.fr}}" alt="" class="right-align" style="object-fit: contain;width: 100%;">
  </div>
</div>


<div class="child_container" (click)="toggleList('div1')">
  <div>
  <h3 >Transformation des aliments</h3>
    <div  [ngSwitch]="products.product.nova_group">
      <div *ngSwitchCase="1" >
        <img src="https://static.openfoodfacts.org/images/attributes/nova-group-1.svg" style="height:72px;float:left;margin-right:1rem;" alt="icon">
        <p >Aliments non transformés ou minimalement transformés</p>
      </div>
      <div *ngSwitchCase="2">
        <p class="">Ingrédients culinaires transformés</p>
        <img src="https://static.openfoodfacts.org/images/attributes/nova-group-2.svg" style="height:72px;float:left;margin-right:1rem;" alt="icon">
      </div>
      <div *ngSwitchCase="3">
        <p class="">Aliments transformés</p>
        <img src="https://static.openfoodfacts.org/images/attributes/nova-group-3.svg" style="height:72px;float:left;margin-right:1rem;" alt="icon">
      </div>
      <div *ngSwitchCase="4"  >
       
        <img src="https://static.openfoodfacts.org/images/attributes/nova-group-4.svg" style="height:72px;float:left;margin-right:1rem;" alt="icon">
        <p style="color:brown;">Aliments ultra-transformés</p>
      </div>
      <div *ngSwitchDefault>
        <p class="">Degré de transformation des aliments inconnu</p>
        <img src="https://static.openfoodfacts.org/images/attributes/nova-group-unknown.svg" style="height:72px;float:left;margin-right:1rem;" alt="icon">
      </div>
    </div>
    <div class="flex-container ">
      <ul *ngIf="showList['div1']">Les produits alimentaires sont classés en 4 groupes selon leur degré de transformation :
        <p>1. Aliments non transformés ou peu transformés</p>
        <p>2. Ingrédients culinaires transformés</p>
        <p>3. Les aliments transformés</p>
        <p>4. Aliments ultra-transformés</p>
        <p>La détermination du groupe est basée sur la catégorie du produit et sur les ingrédients qu'il contient.</p>
        <a href="https://world.openfoodfacts.org/nova">→ En savoir plus sur la classification NOVA</a>
      </ul>
  </div>
</div>
</div>

<div class="child_container">
  <div >
  <h3>Nutrition</h3>
  <div [ngSwitch]="products.product.nutriscore_grade">
    <div *ngSwitchCase="'a'">
      <img src="https://static.openfoodfacts.org/images/attributes/nutriscore-a.svg" style="height:72px;float:left;margin-right:1rem;" alt="icon">
      <span class="panel_title_card">Très bonne qualité nutritionnelle</span>
    </div>
    <div *ngSwitchCase="'b'">
      <img src="https://static.openfoodfacts.org/images/attributes/nutriscore-b.svg" style="height:72px;float:left;margin-right:1rem;" alt="icon">
      <span>Bonne qualité nutritionnelle</span>
    </div>
    <div *ngSwitchCase="'c'">
      <img src="https://static.openfoodfacts.org/images/attributes/nutriscore-c.svg" style="height:72px;float:left;margin-right:1rem;" alt="icon">
      <span class="panel_title_card">Qualité nutritionnelle moyenne</span>
    </div>
    <div *ngSwitchCase="'d'">
     
      <img src="https://static.openfoodfacts.org/images/attributes/nutriscore-d.svg" style="height:72px;float:left;margin-right:1rem;" alt="icon">
      <span style="color:brown;">Mauvaise qualité nutritionnelle</span>
    </div>
    <div *ngSwitchCase="'e'">
      <img src="https://static.openfoodfacts.org/images/attributes/nutriscore-e.svg" style="height:72px;float:left;margin-right:1rem;" alt="icon">
      <span >Mauvaise qualité nutritionnelle</span>
    </div><br>
  </div>

  <br><br>
  <!-- Matières grasses -->
  <div  (click)="toggleList('div2')">
    <div class="row" style="width:500px">
    <div *ngIf="products.product.nutriments.fat < 3">
      <p > <img src="https://static.openfoodfacts.org/images/misc/low.svg" >Matières grasses en faible quantité ({{ products.product.nutriments.fat.toFixed(2) }}%)</p>
    </div>

    <div *ngIf="products.product.nutriments.fat >= 3 && products.product.nutriments.fat <= 20">
      <p> <img src="https://static.openfoodfacts.org/images/misc/moderate.svg">Matières grasses en quantité modérée ({{ products.product.nutriments.fat.toFixed(2) }}%)</p>
    </div>

    <div *ngIf="products.product.nutriments.fat > 20">
      <p> <img src="https://static.openfoodfacts.org/images/misc/high.svg">Matières grasses en grande quantité  ({{ products.product.nutriments.fat.toFixed(2) }}%)</p>
    </div >

    <ul  *ngIf="showList['div2']">
      <b>Que souhaitez-vous savoir</b>
      <p> Une consommation élevée de graisses, en particulier de graisses saturées, peut augmenter le cholestérol, ce qui augmente le risque de maladies cardiaques.</p>
      <b>Recommandation : </b>
      <p>Limiter la consommation de matières grasses et graisses saturées</p>
      <p>Choisissez des produits à faible teneur en gras et en gras saturés.</p> 
      <p> Source : <a href="https://www.nhs.uk/live-well/eat-well/food-types/different-fats-nutrition/"> National Health Service UK (NHS) - Graisse : les faits </a></p>
    </ul>
  </div>
</div>
  <!-- Gras saturés -->
  <div  (click)="toggleList('div3')">
    <div class="row" style="width:500px">
  <div *ngIf="products.product.nutriments['saturated-fat'] < 1.5">
    <p><img src="https://static.openfoodfacts.org/images/misc/low.svg">Gras saturés en faible quantité ({{ products.product.nutriments["saturated-fat"].toFixed(2)}}%)</p>  
    </div>
    <div *ngIf="products.product.nutriments['saturated-fat'] >= 1.5 && products.product.nutriments['saturated-fat'] <= 5">
      <p><img src="https://static.openfoodfacts.org/images/misc/moderate.svg">Gras saturés en quantité modérée ({{ products.product.nutriments["saturated-fat"].toFixed(2)}}%)</p>
    </div>
    <div *ngIf="products.product.nutriments['saturated-fat'] > 5">
      <p><img src="https://static.openfoodfacts.org/images/misc/high.svg">Graisses saturées en grande quantité ({{ products.product.nutriments["saturated-fat"].toFixed(2)}}%)</p>
  </div>
  <ul *ngIf="showList['div3']">
    <b>Que souhaitez-vous savoir</b>
      <p> Une consommation élevée de graisses, en particulier de graisses saturées, peut augmenter le cholestérol, ce qui augmente le risque de maladies cardiaques.</p>
    <b>Recommandation : </b>
    <p>Limiter la consommation de matières grasses et graisses saturées</p>
    <p>Choisissez des produits à faible teneur en gras et en gras saturés.</p>
    <p> Source : <a href="https://www.nhs.uk/live-well/eat-well/food-types/different-fats-nutrition/"> National Health Service UK (NHS) - Graisse : les faits </a></p>
  </ul>
  </div>
</div>
  <!-- sucre -->
  <div  (click)="toggleList('div4')">
    <div class="row" style="width:500px">
  <div *ngIf="products.product.nutriments.sugars <= 5">
    <p><img src="https://static.openfoodfacts.org/images/misc/low.svg"> Sucres en faible quantité ({{ products.product.nutriments.sugars.toFixed(2)}}%)</p>
  </div>
  <div *ngIf="products.product.nutriments.sugars > 5 && products.product.nutriments.sugars <= 10">
    <p><img src="https://static.openfoodfacts.org/images/misc/moderate.svg"> Sucres en quantité modérée ({{ products.product.nutriments.sugars.toFixed(2)}}%)</p>
  </div>
  <div *ngIf="products.product.nutriments.sugars > 10">
    <p><img src="https://static.openfoodfacts.org/images/misc/high.svg"> Sucres en grande quantité({{ products.product.nutriments.sugars.toFixed(2)}}%)</p>
  </div>
    <ul *ngIf="showList['div4']">
      <b>Que souhaitez-vous savoir</b>
      <p>Une forte consommation de sucre peut entraîner une prise de poids et des caries dentaires. Il augmente également le risque de diabète de type 2 et de maladies cardio-vasculaires.</p>
      <b>Recommandation : </b>
      <p>Limiter la consommation de sucre et de boissons sucrées</p>
      <p>Les boissons sucrées (comme les sodas, les boissons aux fruits, les jus et nectars de fruits) doivent être limitées au maximum (pas plus d'un verre par jour).</p>  
      <p>Choisissez des produits à faible teneur en sucre et réduisez la consommation de produits avec des sucres ajoutés.</p>
      <p>Source : <a href="https://www.nhs.uk/live-well/eat-well/food-types/how-does-sugar-in-our-diet-affect-our-health/">National Health Service UK (NHS) - Sucre : les faits</a></p>
    </ul>
  </div>
</div>
  <!-- Sel  -->
  <div  (click)="toggleList('div5')">
    <div class="row" style="width:500px">
    <div *ngIf="products.product.nutriments.salt < 0.3">
      <p><img src="https://static.openfoodfacts.org/images/misc/low.svg"> Sel en faible quantité ({{ products.product.nutriments.salt.toFixed(2)}}%)</p>
    </div>
    <div *ngIf="products.product.nutriments.salt >= 0.3 && products.product.nutriments.salt <= 1.5">
      <p><img src="https://static.openfoodfacts.org/images/misc/moderate.svg"> Sel en quantité modérée ({{ products.product.nutriments.salt.toFixed(2)}}%)</p>
    </div>
    <div *ngIf="products.product.nutriments.salt > 1.5">
      <p><img src="https://static.openfoodfacts.org/images/misc/high.svg"> Sel en grande quantité ({{ products.product.nutriments.salt.toFixed(2)}}%)</p>
    </div>
      <ul *ngIf="showList['div5']">
        <b>Que souhaitez-vous savoir</b>
        <p>Une forte consommation de sel (ou de sodium) peut entraîner une augmentation de la pression artérielle, ce qui peut augmenter le risque de maladie cardiaque et d'accident vasculaire cérébral.</p>
        <p>De nombreuses personnes souffrant d'hypertension ne le savent pas, car il n'y a souvent aucun symptôme.</p>
        <p>La plupart des gens consomment trop de sel (en moyenne 9 à 12 grammes par jour), soit environ le double de l'apport maximal recommandé.</p>
        <b>Recommandation : </b>
        <p>Limiter la consommation de sel et d'aliments salés</p>
        <p>Réduisez la quantité de sel utilisée lors de la cuisson et ne salez plus à table.</p>  
        <p>Limitez la consommation de collations salées et choisissez des produits à faible teneur en sel.</p>
        <p>Source : <a href="https://www.who.int/news-room/fact-sheets/detail/salt-reduction">Organisation mondiale de la santé (OMS) - Fiche d'information - Réduction du sel</a></p>
        <p>Source : <a href="https://www.nhs.uk/live-well/eat-well/food-types/salt-nutrition/">National Health Service UK (NHS) - Sel : les faits</a></p>
      </ul>
  </div>
</div>
</div>
<div class="image" style="width:40%">
 <img src="{{products.product.selected_images.nutrition.display.fr}}" class="right-align;" style="object-fit: contain;width: 70%;">
</div>
</div>

<!-- tableau -->
<div class="child_container" (click)="toggleList('div7')">
  <div>
  <h3 >Tableau nutritionnel</h3>
  <img src="https://static.openfoodfacts.org/images/icons/dist/scale-balance.svg" 
        style="height:72px;float:left;margin-right:1rem;" alt="icon" class="filter-grey">
      </div>
  <table *ngIf="showList['div7']" border="1" >
    <colgroup>
      <col width="250" >
    </colgroup>
  <tr>        
    <th >Tableau nutritionnel</th>
    <th>Tel que vendu <br> {{products.product.nutrition_data_per}}/ 100 ml</th>
    <th>Tel que vendu <br> par portion ({{products.product.nutrition_data_prepared_per}})</th>
  </tr>

  <tr>
    <td>Energie</td>
    <td>
      {{products.product.nutriments.energy_100g}}
      {{products.product.nutriments.energy_unit}}<br> 
      ({{products.product.nutriments['energy-kcal']}} {{products.product.nutriments['energy-kcal_unit']}})                   
    </td>
    <td>
      {{products.product.nutriments['energy-kj_serving']}} {{products.product.nutriments.energy_unit}}<br>
      ({{products.product.nutriments['energy-kcal']}} {{products.product.nutriments['energy-kcal_unit']}})
    </td>
  </tr>

  <tr>
    <td>Matières grasses</td>
    <td>
      {{products.product.nutriments.fat_100g}}
      {{products.product.nutriments.fat_unit}}           
    </td>
    <td>
      {{products.product.nutriments.fat_serving}}
      {{products.product.nutriments.fat_unit}}
    </td>

  </tr>
  <tr>
    <td>Acides gras saturés</td>
    <td>
      {{products.product.nutriments['saturated-fat_100g']}}
      {{products.product.nutriments['saturated-fat_unit']}}
    </td>
    <td>
      {{products.product.nutriments['saturated-fat_serving']}}
      {{products.product.nutriments['saturated-fat_unit']}}
    </td>
  </tr>
    
  <tr>
    <td>Glucides</td>
    <td>
      {{products.product.nutriments.carbohydrates_100g}}
      {{products.product.nutriments.carbohydrates_unit}}
    </td>         
    <td>
      {{products.product.nutriments.carbohydrates_serving}}
      {{products.product.nutriments.carbohydrates_unit}}
    </td>
  </tr>

  <tr>
    <td>Sucres</td>
    <td>
      {{products.product.nutriments.sugars_100g}}
      {{products.product.nutriments.sugars_unit}}
    </td>
    <td>
      {{products.product.nutriments.sugars_serving}}
      {{products.product.nutriments.sugars_unit}}
    </td>
  </tr>
    
  <tr>
    <td>Fibres alimentaires</td>
    <td>
      {{products.product.nutriments.fiber_100g}}
      {{products.product.nutriments.fiber_unit}}
    </td>
    <td>
      {{products.product.nutriments.fiber_serving}}
      {{products.product.nutriments.fiber_unit}}
    </td>
  </tr>
    
  <tr>
    <td>Proteïnes</td>
    <td>
      {{products.product.nutriments.proteins_100g}}
      {{products.product.nutriments.proteins_unit}}
    </td>
    <td>
      {{products.product.nutriments.proteins_serving}}
      {{products.product.nutriments.proteins_unit}}
    </td>
  </tr>
    
  <tr>
    <td>Sel</td>
    <td>
      {{products.product.nutriments.salt_100g}}
      {{products.product.nutriments.salt_unit}}
    </td>
    <td>
      {{products.product.nutriments.salt_serving}}
      {{products.product.nutriments.salt_unit}}
    </td>
  </tr>
    
  <tr>
    <td>
    Fruits, légumes, noix 
    et huiles de colza, noix et olive 
    (estimation par analyse de la 
    liste des ingrédients)
    </td>
    <td>
      {{products.product.nutriments['fruits-vegetables-nuts-estimate-from-ingredients_100g']}}%
    </td>
    <td>
      {{products.product.nutriments['fruits-vegetables-nuts-estimate-from-ingredients_serving']}}%
    </td>
  </tr>          
</table>
</div>
<p style="margin: 1rem;"><b>Taille d'une portion: </b>{{products.product.nutrition_data_per}}</p> 

</div>